h1{
    color:var(--text_color);
    font-size: 10vh;
    text-align: center;
    margin-left: 7vw;
}

#Graph{
    width: 70vw;
    height: 70vh;
}

.conta {
    display: flex;
    justify-content: center;
    margin-left: 5vw;
}

#homeButton:hover{
    background-color: white;
    max-width: 240;
    -webkit-transition: max-width 1s 0.5s;
    transition: max-width 1s 0.5s;
}

#summaryButton:hover {
    background-color: white;
    max-width: 319px;
    -webkit-transition: max-width 1s 0.5s;
    transition: max-width 1s 0.5s;

}

#historyButton:hover{
    max-width: 268px;
    -webkit-transition: 1s max-width 0.5s;
    transition: 1s max-width 0.5s;
}

