body {
    background-color: #2f2f2f;
}

.nav h1 {
    color:var(--text_color);
    font-size: 9vh;
    text-align: center;
}

.nav {
    margin: 0 auto;
    margin-left: 5vw;
}

.flex {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 10vw;
}

.ind {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3vh;
}

.ind img {
    margin-right: 3vw;
}

.graphBar{
    height: 7vh;
    transition: width 0.5s 0s;
}

.side {
    display: flex;
    flex-direction: column;
    background-color: #0998eb00;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 0.01%;
    height: 32vw;
    padding: 4px;
}

#emojiGrid{
    display:grid;
    grid-template-columns: 64px;
    grid-auto-rows: 64px;
    gap: 40px;
    position: absolute;
    left: 191px;
    top: 235px;
}

#graphBarGrid{
    display:grid;
    grid-template-columns: 1320px;
    grid-auto-rows: 88px;
    gap:16px;
    position: absolute;
    left: 301px;
    top: 223px;
}

#recordButton{
    width: 18vw;
    height: 14vh; 
    border-radius: 10px;
    background-image: var(--secondary-color);
    font-size: 5vh;
    font-family: "Roboto Bold";
    margin-left: 45vw;
}

#recordButton:hover {
    background: rgb(109, 244, 251);
    border:solid;
    border-width: 16px;
    color: #ffffff;
    border-color: #00f0f0;
}

#homeButton:hover{
    max-width: 240px;
    -webkit-transition: 1s max-width 0.5s;
    transition: 1s max-width 0.5s;
}

#summaryButton:hover {
    background-color: white;
    max-width: 319px;
    -webkit-transition: max-width 1s 0.5s;
    transition: max-width 1s 0.5s;

}

#historyButton:hover{
    background-color: white;
    max-width: 268px;
    -webkit-transition: max-width 1s 0.5s;
    transition: max-width 1s 0.5s;
}

.graphBarText{
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 16px;
}
